.out {
  /* border: 1px solid red; */
  margin-left: 300px;
  margin-top: 300px;
}
.input {
  border: 1px solid white;
  margin-left: 50px;
  width: 200px;
  text-align: center;
  height: 100px;
  padding-top: 70px;
  margin-left: 100px;
}
.increasese,
.decreasese {
  border: 1px solid white;
  margin-left: 20px;
}
.increasese,
.decreasese,
.reset {
  padding-left: 40px;
  padding-right: 40px;
  background-color: black;
  color: white;
  margin-top: 60px;
}
.reset {
  margin-left: 50px;
  background-color: white;
  color: black;
  width: 200px;
}
